@charset "UTF-8";
/*Глобальный сброс стилей*/
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--main-bg-text-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: inherit;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  clip: rect(1px 1px 1px 1px);
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

ul {
  padding-left: 0px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0;
}

link:active,
link:hover,
link:focus {
  color: var(--logo-button-color);
}

/*Основные параметры*/
:root {
  --main-text-color: #212121;
  --main-bg-text-color: white;
  --second-bg-color: #2f303a;
  --logo-button-color: #2196f3;
  --link-paragraph-color: #757575;
  --team-bg-color: #f5f4fa;
  --accent--text-color: black;
  --link-footer: rgba(255, 255, 255, 0.6);
  --hero-bg: rgba(47, 48, 58, 0.4);
  --social-link: #afb1b8;
  --modal-bg: rgba(0, 0, 0, 0.2);
  --title-bg: rgba(47, 48, 58, 0.8);
  --overlay-portfolio-card: rgba(33, 150, 243, 0.9);
  --modal-input: rgba(33, 33, 33, 0.2);
  --signup-input-border: rgba(255, 255, 255, 0.3);
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}

/*Шапка сайта*/
.header-bg {
  background-color: var(--main-bg-text-color);
  border: 1px solid #ececec;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-button-color);
  text-decoration: inherit;
  margin-top: 16px;
  margin-bottom: 16px;
}

.logo--header {
  margin-right: 93px;
}

.logo--footer {
  margin-bottom: 20px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo--white {
  color: var(--main-bg-text-color);
}

.logo--black {
  color: var(--accent--text-color);
}

.menu-button {
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 105;
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
}

.menu-icons {
  height: 40px;
  width: 40px;
}

.mobile-menu {
  background-color: var(--main-bg-text-color);
  position: fixed;
  top: 0;
  right: 0px;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  z-index: 150;
}

@media screen and (min-width: 768) {
  .mobile-menu {
    display: none;
  }
}

.menu {
  padding: 48px 221px 306px 40px;
}

.menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
}

.menu__item--current {
  color: var(--logo-button-color);
}

.menu-contacts {
  padding: 0 140px 64px 40px;
}

.menu-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--link-paragraph-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contacts__link:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contacts--number {
  font-size: 34px;
  line-height: 40px;
  color: var(--logo-button-color);
}

.menu-socials {
  display: flex;
  padding: 64px 83px 48px 40px;
}

.socials-text {
  margin-right: 10px;
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

/*Навигация*/
.site-nav {
  display: flex;
}

.site-nav:not(last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 767.98px) {
  .site-nav {
    display: none;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
}

.site-nav__item {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__item:hover, .site-nav__item:active, .site-nav__item:focus {
  color: var(--logo-button-color);
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.site-nav__item--current {
  color: var(--logo-button-color);
}

.site-nav__item--current::after {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--logo-button-color);
  position: absolute;
  bottom: 0px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
  align-items: baseline;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list:hover {
  color: var(--logo-button-color);
}

.contacts-list__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-paragraph-color);
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767.98px) {
  .contacts-list {
    display: none;
  }
}

/*Hero*/
.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/about/hero-bg.jpg");
  background-color: var(--second-bg-color);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  height: 400px;
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-bg-text-color);
  padding-top: 118px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 60px;
    padding-top: 200px;
  }
}

/*Модалка*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 120;
  background-color: var(--modal-bg);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--main-bg-text-color);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form {
  display: block;
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.modal__label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--link-paragraph-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin: 44px 40px 12px 40px;
}

.modal__input {
  width: 100%;
  padding: 11px 12px 11px 42px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid var(--modal-input);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover, .modal__input:focus {
  border: 1px solid var(--logo-button-color);
  cursor: pointer;
}

.form__comment {
  width: 100%;
  border: 1px solid var(--modal-input);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  margin: 4px 0 20px 0;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment:hover, .form__comment:focus {
  border: 1px solid var(--logo-button-color);
  cursor: pointer;
}

.form__field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

textarea {
  resize: none;
}

.form__checkbox {
  appearance: none;
}

.icon-check {
  display: inline-block;
  border: 2px solid var(--main-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-right: 8.38px;
  background-color: var(--main-bg-text-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox:checked + .icon-check {
  background-color: var(--logo-button-color);
  border: 2px solid transparent;
  background-origin: border-box;
}

.form__agreement {
  font-size: 14px;
  line-height: 24px;
  color: var(--link-paragraph-color);
  justify-content: center;
  align-items: center;
  display: flex;
}

.form__condition {
  color: var(--logo-button-color);
  text-decoration: underline;
  outline: none;
}

label:focus,
label:hover {
  cursor: pointer;
  fill: var(--logo-button-color);
}

/* .backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) opacity(0);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/*Кнопки*/
.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 73px;
  height: auto;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--logo-button-color);
  border-color: transparent;
  border-radius: 4px;
  border-width: 0px;
  color: var(--main-bg-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus, .button:hover, .button:active {
  background-color: var(--logo-button-color);
  color: var(--main-bg-text-color);
  border-color: transparent;
}

.button--order {
  width: 200px;
  height: auto;
  padding: 10px 32px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}

.button--text {
  font-style: normal;
  font-weight: 500;
  color: var(--main-text-color);
  font-size: 16px;
  padding: 6px 22px;
  background-color: var(--team-bg-color);
}

.button--signup {
  display: flex;
  padding: 10px 62px 10px 29px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}

footer .button--signup {
  position: relative;
}

.button--send {
  display: flex;
  margin: 30px auto 40px auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  justify-content: center;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--main-bg-text-color);
  min-width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover, .btn-close:focus {
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--logo-button-color);
}

/*Особенности*/
.feature-bg {
  background-color: var(--main-bg-text-color);
}

.feature-list {
  display: flex;
}

.feature-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.feature-list__item {
  width: 270px;
}

.feature-list__item:not(:last-child) {
  margin-right: 30px;
}

.feature-list__desc {
  color: var(--link-paragraph-color);
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 0px;
}

.feature-list__picture {
  background-color: #f5f4fa;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

/*Деятельность*/
.activity-bg {
  background-color: var(--main-bg-text-color);
}

.activity-bg.section {
  padding-top: 0;
}

.activity-list {
  margin-top: 50px;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.activity-list img:not(:last-child) {
  margin-right: 30px;
}

.activity-list img:last-child {
  padding-right: 0px;
}

.activity-list__title {
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  text-align: center;
  display: inline-block;
  padding-top: 27px;
  padding-bottom: 27px;
  height: 70px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 0;
  color: var(--main-bg-text-color);
  background-color: var(--title-bg);
  font-weight: 700;
}

.activity-list__item {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.activity-list__item:not(:last-child) {
  margin-right: 30px;
}

/*Команда*/
.team-bg {
  background-color: var(--team-bg-color);
}

.team-list {
  display: flex;
  margin-top: 50px;
}

.team-list__item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  width: 270px;
}

.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-list__position {
  font-size: 16px;
  line-height: 1.9;
  color: var(--link-paragraph-color);
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-list__desc {
  padding: 30px 0px;
}

/*Соцсети*/
.contacts-list__mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--link-paragraph-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:focus .contacts-list__mail-icon,
.contacts-list__link:hover .contacts-list__mail-icon {
  fill: var(--logo-button-color);
}

.contacts-list__smartphone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--link-paragraph-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover .contacts-list__smartphone-icon,
.contacts-list__link:focus .contacts-list__smartphone-icon {
  fill: var(--logo-button-color);
}

.feature-list__icon {
  width: 70px;
  height: 70px;
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: var(--social-link);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join .socials__icon {
  fill: var(--main-bg-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--main-bg-text-color);
}

.signup__icon {
  position: absolute;
  top: 10px;
  right: 28px;
  display: inline-block;
}

.modal__icon {
  position: absolute;
  top: 29px;
  left: 12px;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-cross {
  display: none;
}

.socials {
  display: inline-flex;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join .socials__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--logo-button-color);
}

.socials__item:not(:first-child) {
  margin-left: 10px;
}

/*Клиенты*/
.clients-bg {
  background-color: var(--main-bg-text-color);
}

.clients {
  display: flex;
}

.clients__item {
  width: 170px;
  height: 90px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__icon {
  fill: var(--social-link);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients--link:hover .clients__icon,
.clients--link:focus .clients__icon {
  fill: var(--logo-button-color);
}

.clients--link {
  align-items: center;
  justify-content: center;
  border: 1px solid var(--social-link);
  display: flex;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients--link:hover, .clients--link:focus {
  border: 1px solid var(--logo-button-color);
}

.title--clients {
  margin-bottom: 50px;
}

/*Порфтолио*/
.portfolio-bg {
  background-color: var(--main-bg-text-color);
}

.portfolio-card {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-card__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
  margin-bottom: 4px;
}

.portfolio-card__info {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-card__type {
  margin-bottom: 0px;
  color: var(--link-paragraph-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter {
  margin-top: 0;
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
}

.portfolio-filter button:focus,
.portfolio-filter button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter__button:not(:last-child) {
  margin-right: 8px;
}

.portfolio-card__desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 63px 24px;
  margin-bottom: 0;
  opacity: 0;
  font-style: normal;
  font-size: 18px;
  line-height: 1.6;
  color: var(--main-bg-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .portfolio-card__desc {
  opacity: 1;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__text {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: var(--overlay-portfolio-card);
  transform: translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .overlay__text {
  transform: translateY(0%);
  opacity: 1;
}

/*Футер*/
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.grid__item {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-top: 30px;
  margin-left: 30px;
}

footer {
  background-color: var(--second-bg-color);
  display: block;
  padding: 60px 0;
}

address {
  font-style: normal;
  color: var(--main-bg-text-color);
  font-size: 14px;
  line-height: 1.7;
}

.footer-container {
  display: flex;
  align-items: baseline;
  flex-basis: calc((100% - 30px) / 2);
}

.footer-container__link {
  color: var(--link-footer);
  font-size: 14px;
  line-height: 1.71;
}

.footer-container__adress:not(:last-child) {
  margin-bottom: 9px;
}

.join {
  margin-left: 70px;
}

.join__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-bg-text-color);
}

.signup {
  display: inline-block;
  margin-left: 93px;
  width: 358px;
  align-items: center;
}

.signup__form {
  display: flex;
}

.signup__input {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: inline;
  align-items: center;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px;
  color: var(--link-footer);
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid var(--signup-input-border);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signup__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-bg-text-color);
}
/*# sourceMappingURL=main.css.map */