.button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  min-width: 73px;
  height: auto;
  font-family: inherit;
  cursor: pointer;

  background-color: var(--logo-button-color);
  border-color: transparent;
  border-radius: 4px;
  border-width: 0px;

  color: var(--main-bg-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover,
  &:active {
    background-color: var(--logo-button-color);
    color: var(--main-bg-text-color);
    border-color: transparent;
  }
}

.button--order {
  width: 200px;
  height: auto;
  padding: 10px 32px;
  text-align: center;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}
.button--text {
  font-style: normal;
  font-weight: 500;
  color: var(--main-text-color);
  font-size: 16px;
  padding: 6px 22px;
  background-color: var(--team-bg-color);
}

.button--signup {
  display: flex;
  padding: 10px 62px 10px 29px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  footer & {
    position: relative;
  }
}

.button--send {
  display: flex;
  margin: 30px auto 40px auto;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  justify-content: center;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--main-bg-text-color);
  min-width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: var(--logo-button-color);
  }
}

.menu-button {
  padding: 0;
  margin: 0;

  position: relative;
  z-index: 105;
  /* width: 40px; */
  /* height: 40px; */
  background-color: transparent;
  border: none;
}
