.clients-bg {
  @include background;
}

.clients {
  display: flex;

  @media screen and (max-width: 1199.98px) {
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.clients__item {
  width: 170px;
  height: 90px;

  @media screen and (max-width: 1199.98px) {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 30px * var(--grid__item)) / var(--grid__item));
  }
}
.clients__item:not(:last-child) {
  margin-right: 30px;

  @media screen and (max-width: 1199.98px) {
    margin-right: 0px;
  }
}

@media screen and (max-width: 767.98px) {
  .clients > .grid-item {
    --grid__item: 2;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients > .grid-item {
    --grid__item: 3;
  }
}
.clients__icon {
  fill: var(--social-link);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .clients--link:hover &,
  .clients--link:focus & {
    fill: var(--logo-button-color);
  }
}

.clients--link {
  align-items: center;
  justify-content: center;
  border: 1px solid var(--social-link);
  display: flex;
  border-radius: 4px;
  width: 100%;
  height: 100%;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--logo-button-color);
  }
}

.title--clients {
  margin-bottom: 50px;
  @media screen and (max-width: 767.98px) {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 33px;
  }
}
