.contacts-list {
  display: flex;
  margin-left: auto;
  align-items: baseline;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &:hover {
    color: var(--logo-button-color);
  }
}

.contacts-list__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-paragraph-color);
  align-items: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767.98px) {
  .contacts-list {
    display: none;
  }
}
