.header-bg {
  background-color: var(--main-bg-text-color);
  border: 1px solid #ececec;
  // display: flex;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
