:root {
  --main-text-color: #212121;
  --main-bg-text-color: white;
  --second-bg-color: #2f303a;
  --logo-button-color: #2196f3;
  --link-paragraph-color: #757575;
  --team-bg-color: #f5f4fa;
  --accent--text-color: black;
  --link-footer: rgba(255, 255, 255, 0.6);
  --hero-bg: rgba(47, 48, 58, 0.4);
  --social-link: #afb1b8;
  --modal-bg: rgba(0, 0, 0, 0.2);
  --title-bg: rgba(47, 48, 58, 0.8);
  --overlay-portfolio-card: rgba(33, 150, 243, 0.9);
  --modal-input: rgba(33, 33, 33, 0.2);
  --signup-input-border: rgba(255, 255, 255, 0.3);
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}
